body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  text-align: center;
  margin-top: 120px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}